<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Api Clima</title>
</head>
<body>

  <!-- Inicio NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form action="/" method="post" class="nav-item">
          <select name="valor" class="form-select">
            <% provinces.forEach(province => {%>  
            <option value='<%= province %>' name='valor'>
              <%= province %>
            </option>
            <% }) %> 
          </select>
          <button type="submit" class="btn btn-outline-light mt-2">Consultar</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Fin NavBar -->

  <div class="container">
    <h1 class="text-center mt-4">Bienvenido!</h1> 
    <h3 class="text-center mt-4">Consulta el Clima de tus Localidades Favoritas</h3>
  
    <!-- La Plata  -->
    <section class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col"> 
          <div class="card text-dark bg-info mb-3 shadow" style="max-width: 18rem;">
            <div class="card-header"><%= laPlata.name %></div>
            <div class="card-body">
              <h5 class="card-title">La temperatura es de <%= laPlata.weather.tempDesc %></h5>
              <p class="card-text"><% if(laPlata.weather.temp < 10){ %>
                Actualmente hace <strong>¡mucho frío!</strong>
              <% }else if(laPlata.weather.temp < 20 && laPlata.weather.temp >= 10){ %> </p>
                <p>Actualmente está <strong>¡un poco fresco!</strong></p>
                <% }else if(laPlata.weather.temp >= 20 && laPlata.weather.temp < 30){ %> 
                  <p>Actualmente está <strong>¡Está agradable!</strong></p>
                <% }else if(laPlata.weather.temp >= 30){ %>  
                  <p>Actualmente hace mucho <strong>¡calor!</strong></p>
                  <% } %>  
              <p class="card-text">y el cielo esta <strong><%= laPlata.weather.description %></strong></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Humedad <%= laPlata.weather.humidity %>%</li>
              <li class="list-group-item">Viento del Sector <%= laPlata.weather.wing_deg %></li>
              <% if(laPlata.weather.st){ %> 
              <li class="list-group-item">Sensacion Termica <%= laPlata.weather.st %>°</li>
              <% } %> 
              <li class="list-group-item">Visibilidad <%= laPlata.weather.visibility %> Km</li>
              <li class="list-group-item">Provincia de <%= laPlata.province %></li>
            </ul>
          </div>
        </div>

       <!-- Cordoba  -->    
      <div class="col"> 
        <div class="card text-dark bg-info mb-3 shadow" style="max-width: 18rem;">
          <div class="card-header"><%= cordoba.name %></div>
          <div class="card-body">
            <h5 class="card-title">La temperatura es de <%= cordoba.weather.tempDesc %></h5>
            <p class="card-text"><% if(cordoba.weather.temp < 10){ %>
              Actualmente hace <strong>¡mucho frío!</strong>
            <% }else if(cordoba.weather.temp < 20 && cordoba.weather.temp >= 10){ %> </p>
              <p>Actualmente está <strong>¡un poco fresco!</strong></p>
              <% }else if(cordoba.weather.temp >= 20 && cordoba.weather.temp < 30){ %> 
                <p>Actualmente está <strong>¡Está agradable!</strong></p>
              <% }else if(cordoba.weather.temp >= 30){ %>  
                <p>Actualmente hace mucho <strong>¡calor!</strong></p>
                <% } %>  
            <p class="card-text">y el cielo esta <strong><%= cordoba.weather.description %></strong></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Humedad <%= cordoba.weather.humidity %>%</li>
            <li class="list-group-item">Viento del Sector <%= cordoba.weather.wing_deg %></li>
            <% if(cordoba.weather.st){ %> 
            <li class="list-group-item">Sensacion Termica <%= laPlata.weather.st %>°</li>
            <% } %> 
            <li class="list-group-item">Visibilidad <%= cordoba.weather.visibility %> Km</li>
            <li class="list-group-item">Provincia de <%= cordoba.province %></li>
          </ul>
        </div>
      </div>
      
    </section>

    </div>  

  
</body>
</html>